.work {
    padding-top: 2rem;
    min-height: 100vh;
    display: flex;
      flex: 0 1 auto;
      flex-direction: column;
    justify-content: center;
  
    h2 {
      padding: 1rem 0;
      font-size: 3rem;
    }
  
    .work-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
    }
  }